:root {
    --color-shadow: #161616;
    --color-onys: hsl(0, 0%, 24%);
    --color-gray: #7B7B7B;
    --color-lavender-floral: #c478f3;
    --color-background: #1b1b1b;
    --color-white: #FEFEFE;
    --color-black-1: #000000;
    --font-title:  font-family: "Playfair Display", serif;;
    --color-black-2: rgb(33, 33, 33);
    --color-blue-violet: #991AE6;
    --box-shadow-back: 0 1rem 2rem var(--color-shadow);
    --box-shadow-violet: 0 0.5rem 1rem var(--color-blue-violet);
  }
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  html {
    font-size: 14px;
  }
  body {
    margin: 0;
    background-color: var(--color-background);
  }
  .container-login-form-backgrond-asi-code{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:"area-container-login area-container-backgrond-asi-code" ;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
  }
  .container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    background: linear-gradient(90deg, #3e3e3e 0%, #1b1b1b 100%);
    grid-area:area-container-login ;
  }
  .container-logo-name-text{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background:transparent;
    box-shadow: var(--box-shadow-back);
  }
  .content-log{
    width: 80px;
  }
  .content-form, form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .content-form h1{
    font-size: 2rem;
    font-family: var(--font-title);
    color: var(--color-blue-violet);
  }
  label{
    color: var(--color-white);
    font-weight: 500;
    opacity: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  legend {
    color: var(--color-lavender-floral);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-title);
    margin-bottom: 5px;
  }
  .fieldset-personal{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .fieldset-developer{
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  .fieldset-developer fieldset{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
  }
  input{
   align-content: center;
   margin-right: 10%;
    background: transparent;
    border-bottom: #991AE6 solid 1px;
  }
/* Estilo para o texto do input */
input[type="text"] {
    color: #ffffff; 
    font-weight: 600;
  }
  
input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color:var(--color-white);
    opacity: 50%;
  }
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    background-color:white;
  }
  
  input[type="checkbox"]:checked {
    border-radius: 50%;
    background-color:var(--color-blue-violet); 
  }
  

  .btn-submit-form{
    margin: 0px 100px 0px 100px;
    height: 50px;
    border-radius: 30px;
    background: var(--color-blue-violet);
    color:var(--color-white);
    box-shadow: var(--box-shadow-back);
    cursor: pointer;
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: 600;
    transition: all 0.6s ease;
  }
  .btn-submit-form:hover{
  scale: 1.1;
  }
  .container-backgrond-asi-code{
    position: relative;
    height: 100%;
    width: 100%;
    grid-area:area-container-backgrond-asi-code ;
    background: linear-gradient(90deg, #c478f3 0%, #991AE6 100%);
  }
  .mask-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #1b1b1b 0%, #3e3e3e 100%);
    bottom: 0;
    clip-path: polygon(0 63%, 0% 100%, 100% 100%);
    z-index: 5;
  }
  .mask-violet{
    width: 100%;
    height: 100%;
    background: var(--color-blue-violet);
    position: absolute;
    bottom: 0;
    clip-path: polygon(100% 54%, 0% 100%, 100% 100%);
    z-index: 5;
  }
  .container-cat-asi-code-message{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: safe;
    height: 100%;
    width: 100%;
    bottom: 0;
  }
  .content-cat{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
  }
  .content-cat img{
    scale: 1.5;
    width: 100%;
  }
  .content-text-message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    top: 20%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    left: 20%;
    padding: 2px;
    background: var(--color-white);
    animation: text-messageIn 6s ;
  }

  @keyframes text-messageIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.message-text{
    font-size: 1.2rem;
    font-family: var(--font-title);
    color: var(--color-blue-violet);
}
